/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/public/fonts
/public/js
/public/vendor
/public/css
/storage/*.key
/storage/pail
/vendor
.env
.env.docker.prod
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
CLAUDE.md
boost.json
/.ai
