services:
  nginx:
    image: nginx:alpine
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - .:/var/www/html
      - ./.docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
    networks:
      - app_network

  php:
    build:
      context: ./.docker/php
      dockerfile: Dockerfile
    restart: unless-stopped
    volumes:
      - .:/var/www/html
    networks:
      - app_network

  horizon:
    build:
      context: ./.docker/php
      dockerfile: Dockerfile
    restart: unless-stopped
    command: php artisan horizon
    volumes:
      - .:/var/www/html
    depends_on:
      - php
      - redis
      - mysql
    networks:
      - app_network

  mysql:
    image: mysql:8.4
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: workouts
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: workouts
      MYSQL_PASSWORD: workouts
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - app_network

  redis:
    image: redis:alpine
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - app_network

  phpmyadmin:
    image: phpmyadmin:latest
    restart: unless-stopped
    ports:
      - "8080:80"
    environment:
      PMA_HOST: mysql
      PMA_USER: root
      PMA_PASSWORD: root
    depends_on:
      - mysql
    networks:
      - app_network

  mailpit:
    image: axllent/mailpit:latest
    restart: unless-stopped
    ports:
      - "1025:1025"
      - "8025:8025"
    networks:
      - app_network
    environment:
      MP_SMTP_AUTH_ACCEPT_ANY: "true"
      MP_SMTP_AUTH_ALLOW_INSECURE: "true"

  node:
    image: node:lts-alpine3.23
    restart: unless-stopped
    working_dir: /var/www/html
    volumes:
      - .:/var/www/html
    ports:
      - "3000:3000"
    networks:
      - app_network
    tty: true
    stdin_open: true


networks:
  app_network:
    driver: bridge

volumes:
  mysql_data:
  redis_data:
