@import "tailwindcss";
@import "../../../../vendor/filament/filament/resources/css/theme.css";

@source "../../../../vendor/saade/filament-fullcalendar/resources/views/**/*.blade.php";
@import "../../../../vendor/saade/filament-fullcalendar/resources/css/filament-fullcalendar.css";

@custom-variant dark (&:where(.dark, .dark *));
