@import "tailwindcss";
@import "../../../../vendor/filament/filament/resources/css/theme.css";

@source "../../../../vendor/bezhansalleh/filament-language-switch/resources/views/**/*.blade.php";

@custom-variant dark (&:where(.dark, .dark *));
